*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

img,
svg {
  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

dl,
dd,
figure,
p {
  margin: 0;
}
